<h1>Editar <%=@employee.name%></h1>

<%= render 'form', employee: @employee %>

<%= link_to 'Mostrar', @employee, class: "btn btn-dark" %> 
<%= link_to 'Voltar', employees_path, class: "btn btn-dark" %>
